<nav>
    <ul>
        <li><button routerLink="/home" fragment="" routerLinkActive="active">Home</button></li>
        <li><button routerLink="/home" fragment="about" routerLinkActive="active">About</button></li>
        <li><button routerLink="/home" fragment="skills" routerLinkActive="active">Skills</button></li>
        <li><button routerLink="/home" fragment="projects" routerLinkActive="active">Projects</button></li>
        <li><button routerLink="/home" fragment="contact" routerLinkActive="active">Contact</button></li>
    </ul>
</nav>