<div class="about-section">
   
   <div class="about-content">
    <h2>About</h2>
    <p>
        Java/Angular developer with experience in Spring Boot and application deployment.
I solve complex problems with efficient code and clean architectures.
Passionate about technological innovation and designing systems that drive business. 
        <strong>#BackendDev #CleanCode</strong>
    </p>
   </div>
   @defer (hydrate on hover) {
    <div class="about-image">
     <img src="assets/images/image1.png" alt="About Me" class="about-img">
    </div>
   }
   <img src="assets/images/image1.png" alt="About Me" class="about-img">
</div>

