<div class="about-section">
  <div class="about-content">
    <h2 class="h2 article-title">About Me</h2>
    <div class="divider"></div>
    <p class="about-description">
      I am a software engineer with a passion for technology and a strong background in Java and Angular development.
      I have experience in building scalable applications using Spring Boot and deploying them on cloud platforms.
      I am always eager to learn new technologies and improve my skills.  
    </p>
    <strong class="strong">#BackendDev #CleanCode</strong>
  </div>
  <div class="about-image">
    <img src="image/image1.png" alt="Angular_logo" width="300" height="300" />
</div>
</div>

