<app-nav/>
<main>
  <app-hero/>
  <section id="about" class="section-dark">
    <div class="container">
      <app-about/>
    </div>
  </section>

  <section id="skills" class="section-light">
    <div class="container">
      <app-skills/>
    </div>
  </section>

  <section id="projects" class="section-dark">
    <div class="container">
      <app-featured-projects/>
    </div>
  </section>

  <section id="contact" class="section-accent">
    <div class="container">
      <app-contact-form/>
    </div>
  </section>
</main>
